  
  
  body {
      font-family: Arial, sans-serif;
  }

  .hidden{
    display: none;
  }

  button{
    background-color: white;
    border: 1px solid grey;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 10px;
    border-radius: 50%;
  }
  h1,h3{
    margin: 5px;
  }


  .center,.node-status, body{
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  .row, .node-status, .line1,.farmer-status{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

.all-status,.node-status{
  width:100%;
  max-width: 900px;
}
.farmer-status{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;

  }


  .farmer-status > div > div:not(:last-child) {
 
    border-right: 2px solid lightgrey;
    margin: 0px;
    padding: 4px;
  }
  .node-status > h3{
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin: 5px;
    align-items: center;
    align-content: center;
  }
  .node-status>h3>div{
    margin: 0px 5px;
  }
  .farmer-details,  .node-status,.farmer-status{
    border: 1px solid lightgrey;
  }
  .farmer-details > .header {
      flex-direction: row;
  justify-content: center;
  padding: 2px;
    }

    /* for rewards +0 / -0 */
  .spacing{
      margin: 3px;
  }

  .header > h3{
    padding: 0px 10px;
  }
  .farmersummary{
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-weight: bold;
  }

    .header{
    border-bottom: 1px solid grey; 
    }
  .line1 {
    justify-content: center;      
  }
  .line2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0px;
  }

  .line2 > .row > p{
    padding: 0px 10px;
    margin: 0px;
  }
  .line2>.row>.border{
    border-right: 2px solid black;

  }

  .tablediv{
    align-items: center;
    width: 100%;
    padding: 0px;
    overflow: scroll;
  }
  table { 
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .disk-Id, .Size, .Percent-Complete, .ETA, .Sectors-Hr, .Min-Sector, .Reward, .Miss {
    text-align: center;
  }
  .Disk-Id{
    min-width: 280px;
  }
  


  /**
   COLOR
  */



  #blue{
  color: rgb(56, 205, 255);
}
#green{
  color: rgb(0, 175, 0)
}
#black{
  color: black;
}
#red{
  color: red
}

#orange{
  color: rgb(0, 0, 0);
}

#red{
  color:red
}

@media (max-width: 700px) {
  body{
    /* width: 90%; */
  }

  .node-status,.farmer-details{
    width: 99%;
    overflow: scroll;
  }

  .disk-id{
    max-width: 100px;
    overflow:scroll;
  }
  .tablediv{
  }
  .tablediv>table{
    width: 100%;
  }
  .line2>.row{
    overflow-x: auto;
    width: 100%;
  }
}