body {
    font-family: Arial, sans-serif;
  }
  
  .line1 >p{
      
  }

  .line2{

  }

  .node-status, .line1,.line2{
    display: flex;
    flex-direction: row;
  }

  .node-status p,
  .farmer-details p {
    padding: 5px;
    margin: 5px 0px;
    border: 1px solid lightgrey;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .Disk-Id, .Size, .Percent-Complete, .ETA, .Sectors-Hr, .Min-Sector, .Reward, .Miss {
    text-align: center;
  }
  